<div class="card mb-2" style="width: 28rem">
  <div class="card-body">
    <h5 class="card-title"><%= data.nama %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= data.nim %></h6>
    <h6 class="card-subtitle mb-2 text-muted text-primary">
      <%= data.jenisKelamin %>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted text-sm"><%= data.tglLahir %></h6>
    <p class="card-text"><%= data.alamat %></p>
    <div class="d-flex align-items-center">
      <a href="/student" class="btn btn-primary btn-sm">Kembali</a>
      <a id="delete" class="btn btn-danger btn-sm ms-auto" data-nim="<%= data.nim %>">Delete</>
      <a href="/student/update/<%= data.nim %>" class="btn btn-warning btn-sm ms-2">Update</a>
    </div>
    </div>
  </div>
</div>


<script>
  const btnDelete = document.getElementById("delete")
  

  btnDelete.addEventListener('click',function() {
    const nim = this.dataset.nim

    fetch(`/student/details/${nim}`,{
      method:"DELETE"
    }).then((response) => response.json()).then((data) => window.location.href = data.redirect ).catch(err => console.log(err))
  })
</script>
