<div class="card mb-2" style="width: 28rem">
  <div class="card-body">
    <h5 class="card-title"><%= data.nama %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= data.nim %></h6>
    <h6 class="card-subtitle mb-2 text-muted text-primary">
      <%= data.jenisKelamin %>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted text-sm">
      <%= moment(new Date(data.tglLahir).toLocaleString()) %>
    </h6>
    <p class="card-text"><%= data.alamat %></p>
    <div class="d-flex align-items-center">
      <a href="/student" class="btn btn-primary btn-sm">Kembali</a>

      <form
        action="/student/details/<%= data.nim %>?_method=DELETE"
        method="post"
        class="ms-auto"
      >
        <button class="btn btn-danger btn-sm ms-auto" type="submit">
          Delete
        </button>
      </form>
      <a
        href="/student/update/<%= data.nim %>"
        class="btn btn-warning btn-sm ms-2"
      >
        Update
      </a>
    </div>
  </div>
</div>
