<form
  action=<%= !data ? '/student/create' : `/student/details/${data.nim}?_method=PUT` %>
  method="post"
>
  <div class="form-group row mb-3">
    <label for="nim" class="col-sm-2 col-form-label">Nim</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        id="nim"
        name="nim"
        placeholder="Masukkan nim..."
        value="<%= !data ? '' : data.nim %>"
      />
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="nama" class="col-sm-2 col-form-label">Nama</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        id="nama"
        name="nama"
        placeholder="Masukkan nama..."
        value="<%= !data ? '' : data.nama %>"
      />
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="tgl_lahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
    <div class="col-sm-4">
      <input
        type="date"
        class="form-control"
        id="tgl_lahir"
        name="tgl_lahir"
        placeholder="Masukkan tanggal lahir..."
        value="<%= !data ? '' : data.tglLahir %>"
      />
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="alamat" class="col-sm-2 col-form-label">Alamat</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        id="alamat"
        name="alamat"
        placeholder="Masukkan alamat..."
        value="<%= !data ? '' : data.alamat %>"
      />
    </div>
  </div>

  <fieldset class="form-group">
    <div class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Jenis Kelamin</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gridRadios"
            id="laki-laki"
            value="<%= !data ? 'Laki-laki' : data.jenisKelamin %>"
            <%= data.jenisKelamin === "Laki-laki" && 'checked' %>
          />
          <label class="form-check-label" for="laki-laki"> Laki laki </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gridRadios"
            id="perempuan"
            value="<%= !data ? 'Perempuan' : data.jenisKelamin %>"
            <%= data.jenisKelamin === "Perempuan" && 'checked' %>
          />
          <label class="form-check-label" for="perempuan"> Perempuan </label>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-<%= !data ? "primary" : "warning" %>">
        <%= !data ? "Tambah" : "Update" %>
      </button>
    </div>
  </div>
</form>

<script>
  const btnCheck = document.querySelectorAll("input[type=radio]");
  const inputNim = document.getElementById("nim");

  if (inputNim.value !== "") {
    inputNim.disabled = true;
  }

</script>
