<form
  action=<%= !data ? '/subject/create' : `/subject/details/${data.nim}?_method=PUT` %>
  method="post"
>
  <div class="form-group row mb-3">
    <label for="kodeMk" class="col-sm-2 col-form-label">Kode MK</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        id="kodeMk"
        name="kodeMk"
        placeholder="Masukkan Kode MK..."
        value="<%= !data ? '' : data.nip %>"
        <%= data && 'disabled' %>
      />
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="namaMk" class="col-sm-2 col-form-label">Nama MK</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        id="namaMk"
        name="namaMk"
        placeholder="Masukkan Nama MK..."
        value="<%= !data ? '' : data.namaDosen %>"
      />
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="sks" class="col-sm-2 col-form-label">SKS</label>
    <div class="col-sm-4">
      <input
        type="number"
        class="form-control"
        id="sks"
        name="sks"
        min="1"
        max="20"
        placeholder="Masukkan SKS..."
        value="<%= !data ? '' : data.namaDosen %>"
      />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-<%= !data ? "primary" : "warning" %>">
        <%= !data ? "Tambah" : "Update" %>
      </button>
    </div>
  </div>
</form>

<script>
  const inputDate = document.querySelector("input[type=date]")

function formatDate(input) {
    // Parsing tanggal dari format m/d/yyyy
    const parts = input.split('/');
    const month = String(parts[0]).padStart(2, '0'); // Menggunakan padStart untuk menambahkan 0 di depan jika hanya satu digit
    const day = String(parts[1]).padStart(2, '0');
    const year = parts[2];

    // Menggabungkan kembali ke format yyyy-MM-dd
    return `${year}-${month}-${day}`;
}


inputDate.value = formatDate(inputDate.dataset.date);

</script>


