<header class="navbar text-bg-dark">
  <nav class="container">
    <a class="navbar-brand text-white" href="/"
      ><strong>Student Management</strong></a
    >
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/student">Mahasiswa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dosen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mata Kuliah</a>
      </li>
    </ul>
  </nav>
</header>
