<div class="mt-5">
  <div class="card text-center">
    <div class="card-header">
      <h1>Perkuliahan</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        “Tujuan utama pendidikan bukanlah pengetahuan, tetapi tindakan.”
      </h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat in ad
        minima aperiam dignissimos quibusdam possimus nemo tempore laboriosam
        vel. Dolorum fugit incidunt velit voluptates dolores nesciunt suscipit!
        Amet, iure!
      </p>
      <a href="/student" class="btn btn-primary">Perkuliahan</a>
    </div>
    <div class="card-footer text-muted"><%= time %></div>
  </div>
</div>
